body{
  background-color: bisque;
}

.center{
  text-align: center;
  color: #273550;
}

#title{
  margin-bottom: 0;
  font-size: 60px;
}

#author{
  margin-top: 0;
  font-size: 30px;
}

.box{
  width: var(--size);
  height: var(--size);
  border-radius: 15%;
  border-style: solid;
  border-color: #273550;
  background-color: #6495ed;

  text-align: center;
  line-height: 250px;
  font-size: 150px;
  font-family: fantasy;
  
  
}

.X{
  color:rgb(74, 7, 191)
}

.O{
  color:rgb(14, 104, 94)
}

#grid{
  display: grid; 
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: 3;
  grid-gap: 10px;
  justify-content: center;
  margin-top: 50px;
  margin-right: 100px;
}

#row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  margin-left: 100px;
}

#InfoTitle{
  color: #273550;
  font-size: 100px;
  font-family: monospace;
  text-decoration: underline;
  padding-top: 100px;
  padding-left: 25px;
}

#Player{
  display: grid;
  height: 300px;
  width: 300px;
  background-color: #ed6464;
  border-radius: 10%;
  
}

#Playtext{
  margin-left: 75px;
  height: 200px;
  color: #273550;
  font-size:250px;
  font-family:fantasy;

}

#Tracker{
  display: inline-block;
  padding-left: 50px;
}

:root{
  --size: 200px;
}